html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Arvo';
  background: #212121;
}

@font-face {
  font-family: 'Trap';
  src: url('../public/fonts/trap/trap-black-webfont.woff2') format('woff2'),
       url('../public/fonts/trap/trap-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bantayog';
  src: url('../public/fonts/bantayog/bantayog-regular-webfont.woff2') format('woff2'),
       url('../public/fonts/bantayog/bantayog-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Bantayog';
  src: url('../public/fonts/bantayog/bantayog-semilight-webfont.woff2') format('woff2'),
       url('../public/fonts/bantayog/bantayog-semilight-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Bantayog';
  src: url('../public/fonts/bantayog/bantayog-light-webfont.woff2') format('woff2'),
       url('../public/fonts/bantayog/bantayog-light-webfont.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,h2,h3 {
  font-family: Bantayog;
}


