@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

p {
    font-family: 'Arvo', serif;
}

input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  input[type="radio"] {
    margin-right: 10px;
    border: 1px solid white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
  }

  input:checked {
    background-color: #fff;
    padding: 1px;
    box-sizing: border-box;
    border: 6px solid #AE8EE8;
  }

  section {
    scroll-margin-top: 100px;
  }

  @keyframes services {
    from {
      margin-top: 0;
      opacity: 100%;
    }
    to {
      margin-top: -100px;
      opacity: 0;
    }
  }

@layer components {
  .title {
    @apply tw-text-[42px] sm:tw-text-6xl tw-text-white tw-leading-[90%];
  }
  .nav-link {
    @apply tw-text-white tw-px-[10px] tw-mx-[10px] tw-font-arvo tw-text-[18px] md:hover:tw-border-b-[3px] md:hover:tw-border-white tw-ease-in tw-duration-100 tw-h-[30px];
  }
  .button {
    @apply tw-bg-purple tw-cursor-pointer tw-font-bantayog tw-px-[25px] tw-py-[12px] tw-text-white tw-ease-out tw-duration-100 hover:tw-bg-darkGray hover:tw-outline hover:tw-outline-white;
  }
}

